*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    gap: 0;
}

:root{
    --secundaria: #9a9a9a;
    --destaque: #66B2B2;
    --cinzaclaro: #a3a3a3;
    --cinzamedio: #999999;
    --cinzaescuro: #a1a1a1;
    --texto: #b1b0b0;
    --terciaria: #173434;
    --textoescuro: #222222;
    --destaquebotao: #2d5858;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../assets/img/fundoEspacial.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

.box{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    margin-top: 100px;
}

.apresentacao{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 2px;
    width: 37%;
    justify-content: center;
    width: 600px;
    height: fit-content;
    padding: 15px;
    background: var(--terciaria);
    backdrop-filter: blur(5px);
    border: 1px solid #161616a2;
    border-radius: 30px;
}
.apresentacao h2{
    font-size: 1.2rem;
    color: var(--texto);
}

form{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 430px;
    height: fit-content;
    padding: 15px;
    background: var(--terciaria);
    backdrop-filter: blur(5px);
    border: 1px solid #161616a2;
    border-radius: 30px;
    gap: 5px;
}
form h1{
    font-size: 1.6rem;
    color: var(--texto);
}

label{
    color: var(--texto);
    font-weight: 700;
}
label span{
    font-size: 1.2rem;
}

input{
    display: flex;
    margin-top: 4px;
    width: 100%;
    padding: 5px;
    color: var(--textoescuro);
    background: var(--cinzaclaro);
    border-radius: 15px;
}
input::placeholder {
  color: var(--textoescuro); 
  font-size: 13.5px;         
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 30px;
    font-weight: 600;
    color: var(--texto);
    border: none;
    border-radius: 15px;
    background: var(--primaria);
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px #00000068;
}
button:hover{
    background: var(--destaquebotao);
}