*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    gap: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 2% 4%;

}


.header h1 {
    font-size: 2.5rem;
    color: var(--color6);
}